*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
      url('../fonts/Gilroy-Regular.woff2') format('woff2'),
      url('../fonts/Gilroy-Regular.woff') format('woff'),
      url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nekst';
  src: local('Nekst Regular'), local('Nekst-Regular'),
      url('../fonts/Nekst-Regular.woff2') format('woff2'),
      url('../fonts/Nekst-Regular.woff') format('woff'),
      url('../fonts/Nekst-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body {
  margin: 0;
  font-family: 'Nekst';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 320px) {
  .wrapper{
    max-width: 320px;
    margin: 0 auto;
    overflow: hidden;
  }
  .leasing{
    display: flex;
    flex-direction: column;
}
  .leasing__name{
    font-family: 'Nekst';
    font-weight: 900;
    font-size: 34px;
    line-height: 90%;
    margin: 44px 20px 16px 21px;
    max-width: 279px;
    
  }

.leasing__content{
  display: flex;
  flex-direction: column;
  margin: 16px 20px 0px 20px;
  min-width: 250px;
}

.leasing__footer{
  margin: 8px 20px 16px 20px; 
  display: flex;
  flex-direction: column;
  min-width: 250px;
}
.leasing__payment{
  max-width: 167px;
  margin-bottom: 29px;
}

.leasing__sum{
  font-family: 'Nekst';
  font-weight: 900;
  font-size: 22px;
  line-height: 20px;
}

.leasing__btn{
  font-family: 'Nekst';
  font-weight: 900;
  font-size: 22px;
  line-height: 20px;
  color: #FFFFFF;
  max-width: 280px;
  height: 60px;
  background: #FF9514;
  border-radius: 40px;
  padding: 9px 40px 20px 40px;
}
.leasing__btn-disabled{
  background: rgba(255, 149, 20, 0.4);
}

button:hover{
  background: #111111;
} 
button:active{
  background: #575757;
} 
}

@media screen and (min-width: 321px) and (max-width: 768px){
  .wrapper{
    max-width: 768px;
    margin: 0 auto;
    overflow: hidden;
  }
  .leasing__name{
    font-family: 'Nekst';
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    margin: 64px 36px 22px 36px;
  }
  .leasing__content{
    display: flex;
    flex-direction: column;
    margin: 22px 36px 9px 36px;
    
  }

.leasing__footer{
  margin: 9px 36px 60px 36px; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.leasing__payment{
  min-width: 300px;
  margin-bottom: 44px;
  margin-right: 85px;
}

.leasing__sum{
  font-family: 'Nekst';
  font-weight: 900;
  font-size: 54px;
  line-height: 20px;
  font-size: 54px;
  line-height: 48,6px;
  color: #333333;

}
.leasing_sumspan{
  position: relative;
  bottom:5px;
  left:5px;
}

.leasing__btn{
  font-family: 'Nekst';
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  max-width: 345px;
  min-width: 320px;
  height: 68px;
  background: #FF9514;
  border-radius: 40px;
  padding: 9px 20px 20px 20px;

}

.leasing__btn-disabled{
  background: rgba(255, 149, 20, 0.4);
}

button:hover{
  background: #111111;
} 
button:active{
  background: #575757;
} 

}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .wrapper{
    max-width: 1024;
    margin: 0 auto;
  }
  .leasing__name{
    font-family: 'Nekst';
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    margin: 100px 0px 22px 48px;
  }
  .leasing__content{
    display: flex;
    flex-direction: column;
    margin: 22px 48px 5px 48px;
    
  }

.leasing__footer{
  margin: 5px 48px 0px 48px; 
  display: flex;
  flex-wrap: wrap;
}
.leasing__payment{
  max-width: 400px;
  min-width: 360px;
  margin-bottom: 44px;
  margin-right: 50px;
}

.leasing__sum{
  font-family: 'Nekst';
  font-weight: 900;
  font-size: 54px;
  line-height: 20px;
  font-size: 54px;
  line-height: 48.6px;
  color: #333333;

}
.leasing_sumspan{
  position: relative;
  bottom:5px;
  left:5px;
}
.leasing__button{
  max-width: 500px;
}
.leasing__btn{
  font-family: 'Nekst';
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  max-width: 345px;
  height: 68px;
  background: #FF9514;
  border-radius: 40px;
  padding: 9px 40px 20px 40px;
  align-items: center;
}
.leasing__btn-disabled{
  background: rgba(255, 149, 20, 0.4);
}

button:hover{
  background: #111111;
} 
button:active{
  background: #575757;
} 

}

@media screen and (min-width: 1024px){
  .wrapper{
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
  }

  .leasing{
    display: flex;
    flex-direction: column;
  }
  .leasing__name{
    font-family: 'Nekst';
    font-weight: 900;
    font-size: 54px;
    line-height: 48,6;
    margin: 213px 0px 16px 47px;
    max-width: 753px;
  }

  .leasing__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 16px 47px 22px 47px;
  }

.leasing__footer{
  margin: 22px 48px 0px 48px; 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.leasing__payment{
  max-width: 400px;
  min-width: 350px;
  margin-bottom: 44px;
  margin-right: 50px;
}
.leasing__button{
  max-width: 426px;
  height: 68px;
  min-width: 250px;
}

.leasing__sum{
  width: 100%;
  font-family: 'Nekst';
  font-weight: 900;
  font-size: 54px;
  line-height: 48.6px;
  color: #333333;
  position: relative;
}
.leasing_sumspan{
  position: relative;
  bottom:5px;
  left:5px;
}

.leasing__btn{
  max-width: 426px;
  max-height: 68px;
  background: #FF9514;
  border-radius: 40px;
  font-family: 'Nekst-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  padding: 14px 80px 18px 80px;
}

.leasing__btn-disabled{
  background: rgba(255, 149, 20, 0.4);
}

button:hover{
  background: #111111;
} 
button:active{
  background: #575757;
} 

}




.spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  min-width: 210px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}








